@use "../../styles/variables.scss" as *;

.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container-principal {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  gap: 64px;
}

.area-esquerda {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  margin-top: 160px;
  margin-left: 100px;
}

.logo-container {
  height: 150px;
  width: 150px;
  font-weight: bold;
  color: #1b1f24;

  position: absolute;
  top: 10px;
  left: 10px;
}

.titulo {
  font-size: 2.6rem;
  font-weight: 800;
  color: #1b1f24;
  margin-bottom: 12px;
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2c2f33;
}

.descricao {
  margin-top: 16px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.descricao a {
  color: #4a3aff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.descricao a:hover {
  color: #372dbd;
}

.imagem-personagem {
  width: 200px;
  align-self: flex-end;
  margin-bottom: 0px;
}

.area-direita {
  flex: 0 0 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: white;
}

.caixa-login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 380px;

  padding: 32px;
  border-radius: 12px;
}

.titulo-form {
  font-size: 18px;
  color: #2a226d;
  text-align: left;
  font-weight: 600;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.campo-texto {
  padding: 12px;
  border: 1px solid #ddd;
  background: #f9f9fb;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease, background 0.3s ease;
  background-color: #d8e0fe;

  &::placeholder {
    color: #3d64ff;
  }
}

.campo-texto:focus {
  border-color: #4a3aff;
  background: #fff;
}

.campo-senha {
  position: relative;
  display: flex;
  align-items: center;
}

.campo-senha .campo-texto {
  width: 100%;
  padding-right: 40px;
}

.icone-olho {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #3d64ff;
  transition: color 0.2s;
}

.icone-olho:hover {
  color: #4a3aff;
}

.link-esqueci-senha {
  text-align: right;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  color: #3d64ff;
}

.link-esqueci-senha:hover {
  color: #4a3aff;
}

.botao-login {
  padding: 14px;
  background-color: #3d64ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.botao-:hover {
  background-color: #372dbd;
  transform: scale(1.02);
}

.texto-ou {
  text-align: center;
  font-size: 13px;
  color: #2a226d;
}

.area-redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icone-rede {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icone-rede:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container-principal {
    flex-direction: column;
    height: auto;
  }

  .area-esquerda {
    padding: 24px;
  }

  .area-esquerda {
    display: flex;
    align-items: center;
  }

  .imagem-personagem {
    height: 100px;
    width: 100px;
  }

  .area-direita {
    background: none;
    padding: 24px;
  }

  .caixa-login {
    box-shadow: none;
    padding: 0;
  }

  .container-text-box {
    display: flex;
    padding-left: 200px;
  }
}
