.header {
  position: fixed;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  height: 70px;
  background: #fff;
  z-index: 99;
  gap: 16px;
  border-bottom: 1px solid #e5e7eb;

  .headerMensagem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 16px;
    font-weight: 500;
    color: #333;
    margin-right: auto;

    .Avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    h1 {
      font-size: 12px;
      color: #1f384c;
    }
  }

  .headerSearch {
    position: relative;
    flex: 2;
    max-width: 500px;
    margin: 0 20px;

    input {
      width: 100%;
      padding: 8px 35px 8px 12px;
      border-radius: 8px;
      background: #f8f9fc;
      border: none;
      font-size: 14px;
      outline: none;
    }

    .icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
    gap: 24px;

    .company {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      color: #333;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .companyInfo {
      display: flex;
      align-items: center;
      gap: 8px;
      background: #f8f9fc;
      padding: 0;
      background: transparent;
      border-radius: 0;
      cursor: pointer;
      transition: background 0.2s ease;
    }

    .companyButton {
      background: none;
      border: none;
      font-size: 20px;
      color: #2b3674;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: #1f384c;
      line-height: 1;
    }

    .arrow {
      font-size: 14px;
      color: #555;
      margin-left: auto;
    }

    .notifications {
      position: relative;

      .bell {
        font-size: 18px;
        color: #555;
        cursor: pointer;
      }

      .dot {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 8px;
        height: 8px;
        background: red;
        border-radius: 50%;
      }
    }
  }
}

.painelContent {
  margin-left: 220px;
  margin-top: 70px;
  padding: 20px;
  min-height: calc(100vh - 70px);
  background-color: white;
}
